<!--================Header Menu Area =================-->
{% extends 'homepages/header.html' %}
<!--================End Header Menu Area =================-->
{% load static %}
<!--================Title For The Page =================-->
{% block title %} About Us {% endblock %}
<!--================End Title For The Page =================-->

{% block body %}

    <!--================Banner Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_inner_text">
                <h2>About Us</h2>
                <p>Get to know us</p>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->

    <!--================Challange Area =================-->
    <section class="challange_area p_100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="challange_text_inner">
                        <div class="l_title">
                            <img src="{% static 'homepages/images/icon/title-icon.png' %}" alt="">
                            <h6>Discover the features</h6>
                            <h2>We don’t hide, we stand tall in front of chalenge</h2>
                        </div>
                        <p>Ruswift is an Financial Application for managing your personal expenses and bridging the gap between the platforms like calendar, to do list, and many more. In this application, a user can track his daily expenses and maintain his budget with an interactive interface, suggestions are provided how to reduce the expenses. </p>
                    </div>
                </div>
                <div class="col-lg-6 challange_img">
                    <div class="challange_img_inner">
                        <img class="img-fluid" src="{% static 'homepages/images/popup-photo.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Challange Area =================-->

    <!--================Testimonials Slider Area =================-->
    <section class="testimonials_area">
        <div class="container">
            <div class="testimonials_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <h3>“Simply professionals”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="{% static 'homepages/images/testimonials/testi-1.jpg' %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Vishal Kharde</h4>
                                <h5>Project Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“They are the best”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="{% static 'homepages/images/testimonials/testi-2.jpg' %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Kaushal Sharma</h4>
                                <h5>Project Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“We just love them”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="{% static 'homepages/images/testimonials/testi-3.jpg' %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Amit Khachane</h4>
                                <h5>Project Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“Simply professionals”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="{% static 'homepages/images/testimonials/testi-1.jpg' %}" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Pritesh Jadhav</h4>
                                <h5>Project Member</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Testimonials Slider Area =================-->

    <!--================We Are Company Area =================-->
    <section class="we_company_area p_100">
        <div class="container">
            <div class="row company_inner">
                <div class="col-lg-6">
                    <div class="left_company_text">
                        <div class="l_title">
                            <img src="{% static 'homepages/images/icon/title-icon.png' %}" alt="">
                            <h6>Discover the features</h6>
                            <h2>It's a <span>Finance</span> based Application</h2>
                        </div>
                        <p>Ruswift is a platform which has alot of daily life usage. After doing analysis on user behaviour there are some added innovative features to make Ruswift unique, efficient, interactive and easy to use. Apart from adding unique features like categorising users, combining group expenses and personal expenses in to one application. Idea behind this is to make use of this application for the purpose of survey in the managing the finance. This idea serves as main objective of this application. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="company_skill">
                        <p>Suggesting some good resources reference links to our user by which he can buy more discounted products while maintaining budget. Groups can be created to track the expense incurred. </p>
                        <div class="our_skill_inner">
                            <div class="single_skill">
                                <h3>Expenses</h3>
                                <div class="progress" data-value="60">
                                    <div class="progress-bar">
                                        <div class="progress_parcent"><span class="counter">60</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_skill">
                                <h3>Income</h3>
                                <div class="progress" data-value="80">
                                    <div class="progress-bar">
                                        <div class="progress_parcent"><span class="counter">80</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_skill">
                                <h3>Savings</h3>
                                <div class="progress" data-value="50">
                                    <div class="progress-bar">
                                        <div class="progress_parcent"><span class="counter">50</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_skill">
                                <h3>Investments</h3>
                                <div class="progress" data-value="70">
                                    <div class="progress-bar">
                                        <div class="progress_parcent"><span class="counter">70</span>%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_skill">
                                <h3>Management</h3>
                                <div class="progress" data-value="75">
                                    <div class="progress-bar">
                                        <div class="progress_parcent"><span class="counter">75</span>%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End We Are Company Area =================-->

    <!--================End We Are Company Area =================-->
    <section class="talk_area">
        <div class="container">
            <div class="talk_text">
                <h4>Are you ready to talk?</h4>
                <a href="mailto:contact@ruswift.com">contact@ruswift.com</a>
            </div>
        </div>
    </section>
    <!--================End We Are Company Area =================-->
        
{% endblock %}